.main{
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
}
h1{
    color: white;
    display: inline;
    margin: 20px;
}
body{
    background-color: black;
    
}
button{
    color: white;
    font-size: 20px;
    background-color: black;
    margin-top: 20px;
    font-size: 30px;
    width: 120px;
}
.head{
    margin-bottom: 30px;
}